* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  color: #242220;
}
main {
  text-align: center;
  max-width: 100vw;
}
#title-div {
  display: inline-block;
  column-count: 1;
}
#title {
  font-family: Arial, monospace;
  text-decoration: underline;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #524f4b;
  color: black;
  margin-inline: auto;
}
@media screen and (max-width: 480px) {
  #title {
    font-size: 1.3rem;
  }
}
#img-div {
  display: block;
}
@media screen and (max-width: 480px) {
  #img-div p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  #tribute-info h3 {
    font-size: 1rem;
  }
}
#imghd {
  height: 30px;
  width: auto;
  margin-bottom: 2em;
  animation: pulse1 1.5s infinite;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  #imghd {
    height: 20px
  }
}
#title-descr {
  margin-top: 2em;
  color: black;
}
@media screen and (max-width: 480px) {
  #title-descr {
    font-size: 1rem;
  }
}
@keyframes pulse1 {
  0% {box-shadow: none;}
  50% {box-shadow: 0px 2px 15px #524f4b;}
  100% {box-shadow: none;}
}
#imghd:hover {
  opacity: 0.5;
}
a[data-tool-tip] {
  position: relative;
}
#title-div a[data-tool-tip]::before {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: #524f4b;
  padding: 1em 3em;
  color: white;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: tooltip ease-out 50ms, bottom ease-out 50ms;
}
#title-div a[data-tool-tip]:hover::before {
  transform: scale(1);
  bottom: 100%;
  transform: translateY(-50%);
}
#img-div a[data-tool-tip]::before {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: #524f4b;
  border-radius: 15px;
  padding: 1em 3em;
  color: white;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: tooltip ease-out 50ms, bottom ease-out 50ms;
}
#img-div a[data-tool-tip]:hover::before {
  transform: scale(1);
  bottom: 100%;
  transform: translateY(-400%);
}
#tribute-info {
  padding-left: 5%;
  padding-right: 10%;
  text-align: left;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Helvetica, monospace;
  margin-bottom: 3em;
  font-size: 1.2rem;
  text-align: center;
}
#image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 20px black;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #image {
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 5px #524f4b;
  transition: 0.3s;
  cursor: pointer;
  }
}
.modal-main {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #000000;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80%;
}
#img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content, #img-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close-modal {
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px){
  .modal-content {
    width: 100%;
  }
}
#link {
  font-family: Calibri, Arial, sans-serif;
  text-align: left;
  padding-left: 5%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #059b00
}
a:link {
  color: #1100ff;
}
a:visited {
  color: #8b7700;
}
a:active {
  color: blue;
}
.cite {
  margin-top: 1.5em;
  font-size: 0.7rem;
}
@media screen and (max-width: 480px) {
  .cite {
    font-size: 0.5rem;
  }
}
.details-div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.summary {
  padding: 0.25em 0.5em;
  border: 1px solid #524f4b;
  border-radius: 5px;
  width: 200px;
  background-color: #e2dcd3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.3s;
  margin-bottom: .2em;
  box-shadow: 2px 2px 4px #242220;
  font-family: Helvetica, monospace;
  font-size: 1rem;
  color: black;
}
.summary:hover {
  background-image: linear-gradient(180deg, #91816e, #fac691);
  padding: 0.5em;
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .summary {
    font-size: 0.6rem;
  }
}
.details-div p {
  border: 1px solid #524f4b;
  border-style: none;
  line-height: 1.3rem;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 2px 2px 4px #242220, -2px 0px 4px #242220;
  margin-bottom: 0.5em;
  background: #faebd7;
}
details[open] p {
  animation: detailsOpen 0.3s linear forwards;
}
@keyframes detailsOpen {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#link {
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  #link {
    font-size: 0.7rem;
  }
}
